@media screen and (max-width:1300px) {
    .serviceCards p{
        width: 550px;
    }
}

@media screen and (max-width:1200px) {
    .serviceCards p{
        width: 400px;
    }
    div#heroSec{
        height: auto;
    }
    .aboutleft{
        width: 70%;
    }
    .abouttxt p{
        width: 48%;
        margin: 0px 12.5px 0px 0px;
    }
    .aboutright img {
        width: 630px;
    }
}

@media screen and (max-width:1190px) {

    }
    @media screen and (max-width:1150px) {
        .contactIcons a{
            margin: 0px 25px;
        }
    }
    
    @media screen and (max-width:1080px) {
        
        :root{
            --hedding:83px
        }
        .abouttxt p {
            line-height: 25px;
        }
        .serviceCards p {
            width: 350px;
        }
        div#floatingCard .container h1{
            font-size: 60px;
        }
        .webCardContainer{
            grid-column-gap: 40px;
            grid-row-gap: 40px;
        }
        
    }
    @media screen and (max-width:1035px) {
        .aboutright img {
            width: 600px;
        }
    }

    /* Main change */
    @media screen and (max-width:970px) {
        :root{
            --h2: 19px;
            --h4: 13px;
            --para: 14px;
            --hedding: 52px;
        }
        .heroImg{
            top: -110px;
        }

        .contactIcons a{
            margin: 0px 15px;
        }
        
        div#floatingCard .container h1 {
            font-size:40px;
        }
        .heroTxt h1 {
            font-size: 80px;
            margin-top: -40px;
            margin-left: -8px;
        }
        .heroTxt h3{
            margin-top: -35px;
        }
        .heroBtn button:nth-child(1) {
            margin-right: 20px;
        }
        #navbar{
            margin: 12.5px auto 0px auto;
        }
        div#aboutSec {
            padding: 37.5px 0px 0px 0px;
        }
        .aboutleft h1{
            margin-bottom: 31.25px;
        }
        .abouttxt {
            flex-direction: column;
            margin: 0;
        }
        
        .abouttxt p {
            width: 80%;
            margin-top: 18.75px;
            line-height: 20px;
        }
        .aboutleft h2{
            font-weight: 600;
            letter-spacing: 2.2px;
        }

        .contactIcons a i {
            font-size: 35px;
        }
    
        .serviceCards h2{
            min-width: 170px;
        }
        .aboutright img {
            width: 550px;
        }
        div#floatingCard .container button {
            padding: 18.75px;
            width: 225px;
        }
        .heroBtn button{
            padding: 15px 30px;
            margin-right: 20px;
        }
        .webCardContainer{
            grid-column-gap: 25px;
            grid-row-gap: 25px;
        }
    }

    @media screen and (max-width:870px) {
        .aboutleft h1 {
            margin-bottom: 0;
        }
        .aboutleft h2 {
            margin-bottom: 10px;
        }
    }

    @media screen and (max-width:834px) {

        .container{
            width: 85vw;
        }

        /* nav */
        #navbar ul li {
            margin: 0px 10px;
        }
        #navbar ul li a {
            font-size: 12px;
        }
        
        /* hero */
        .heroTxt h1{
            margin-top: -35px;
        }
        .heroTxt h3{
            letter-spacing: 4px;
            margin-top: -25px;
        }
        
        .heroBtn button:nth-child(1) {
            margin-right: 10px;
        }

        /* about */

        .aboutright img {
            width: 500px;
        }
        .aboutright {
            right: -9%;
        }

        /* services */

        .serviceCards p {
            width: 363px;
        }
        .servicesBottom {
            margin: 30px 0px;
        }

        /* floating */
        div#floatingCard .container h1 {
            font-size: 45px;
        }

        /* portfolio */
        div#portfolioSec {
            padding: 0px 0px 30px 0px;
        }

        /* footer */
        div#footer .container{
            padding: 30px 0px;
        }
    }

