@media screen and (max-width:1200px) {
    div#heroSec{
        height: auto;
    }
    .aboutleft{
        width: 70%;
    }
    .abouttxt p{
        width: 48%;
        margin: 0px 10px 0px 0px;
    }
    .aboutright img {
        width: 630px;
    }
}

@media screen and (max-width:1190px) {

    .serviceCards p{
        width: 413px;
    }

    }
    @media screen and (max-width:1150px) {
        .contactIcons a{
            margin: 0px 20px;
        }
    }
    
    @media screen and (max-width:1080px) {
        
        .contactIcons a{
            margin: 0px 15px;
        }
        .contactIcons a i{
            font-size: 32px;
        }
        .abouttxt p {
            line-height: 25px;
        }
        
    }
    @media screen and (max-width:1035px) {
        .aboutright img {
            width: 600px;
        }
    }

    /* Main change */
    @media screen and (max-width:970px) {
        :root{
            --h2: 18px;
            --h4: 12px;
            --para: 15px;
            --hedding: 58px;
        }
        div#floatingCard .container h1 {
            font-size: 53px;
        }
        .heroTxt h1 {
            font-size: 90px;
        }
        #navbar ul li a{
            font-size: 13px;
        }
        div#heroSec {
            /* height: 60vh; */
        }
        #navbar{
            margin: 10px auto 0px auto;
        }
        div#aboutSec {
            padding: 30px 0px 0px 0px;
        }
        .aboutleft h1{
            margin-bottom: 25px;
        }
        .abouttxt {
            flex-direction: column;
            margin: 0;
        }
        
        .abouttxt p {
            width: 80%;
            margin-top: 15px;
            line-height: 20px;
        }
        .aboutleft h2{
            font-weight: 600;
            letter-spacing: 2.2px;
        }
        .serviceCards h2{
            min-width: 170px;
        }
        .aboutright img {
            width: 550px;
        }
        div#floatingCard .container h1 {
            font-size: 48px;
        }
        div#floatingCard .container button {
            padding: 15px;
            width: 180px;
        }
        .heroBtn button{
            padding: 15px 30px;
        }
        .webCardContainer{
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }
    }

    @media screen and (max-width:870px) {
        .aboutleft h1 {
            margin-bottom: 0;
        }
        .aboutleft {
            width: 80%;
        }
        .aboutleft h2 {
            margin-bottom: 10px;
        }
    }

    @media screen and (max-width:834px) {
        :root {
            --h2: 14px;
            --h4: 12px;
            --para: 14px;
            --hedding: 44px;
        }
        .container{
            width: 85vw;
        }

        /* nav */
        #navbar ul li {
            margin: 0px 10px;
        }
        #navbar ul li a {
            font-size: 12px;
        }
        .rightnav .number {
            font-size: 12px;
        }
        
        /* hero */
        .heroImg{
            height: 145%;
        }
        .heroTxt h1{
            margin-top: -35px;
            font-size: 70px;
        }
        .heroTxt h3{
            letter-spacing: 4px;
            margin-top: -25px;
        }
        
        .heroBtn button:nth-child(1) {
            margin-right: 10px;
        }

        div#heroSec {
            /* height: 50vh; */
        }

        /* about */
        .aboutright {
            margin-right: -8%;
        }

        .aboutright img {
            width: 500px;
        }

        .contactIcons a i {
            font-size: 27px;
        }

        /* services */

        .serviceCards h1{
            font-size: 35px;
        }
        .serviceCards p {
            width: 363px;
        }
        .servicesBottom {
            margin: 30px 0px;
        }

        /* floating */
        div#floatingCard .container h1 {
            font-size: 45px;
        }
        div#floatingCard .container h1 {
            font-size: 40px;
        }

        /* portfolio */
        div#portfolioSec {
            padding: 0px 0px 30px 0px;
        }

        /* footer */
        div#footer .container{
            padding: 30px 0px;
        }
    }

